<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View All</title>

  <style>
    html,
    body {
      font-family: Arial, Helvetica, sans-serif;
      padding: 0;
      margin: 0;
    }

    h2 {
      font-size: 3em;
      padding: 5px;
      margin: 20px 50px;
    }

    ul {
      list-style-type: none;
      background: #5FF56C;
      padding: 25px;
      margin: 0;
    }

    ul li {
      display: inline-block;
      padding: 2.5px 25px;
      font-size: 1.25em;
    }

    a {
      text-decoration: none;
      color: #227729;
      cursor: pointer;
    }

    p {
      font-size: 1.5em;
      color: #333333;
      padding: 5px 20px;
      margin: 10px 50px;
    }

    hr {
      width:97%
    }
  </style>
</head>

<body>
  <ul>
    <li><a href="http://localhost:5000/">Home</a></li>
    <li><a href="http://localhost:5000/database/add">Add an item</a></li>
    <li><a href="http://localhost:5000/database/viewall">View all</a></li>
  </ul>

  <h2>All Items</h2>

  <% for(let d in data) { %>
  <p>Name: &nbsp; <%= data[d].name %><br>
    Index: &nbsp; <%= data[d].index %><br>
    Rank: &nbsp; <%= data[d].rank %></p>
  <hr>
  <% } %>
</body>

</html>