<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <style>
    html,
    body {
      font-family: Arial, Helvetica, sans-serif;
      padding: 0;
      margin: 0;
    }

    h2 {
      font-size: 3em;
      padding: 5px;
      margin: 20px 50px;
    }

    ul {
      list-style-type: none;
      background: #5FF56C;
      padding: 25px;
      margin: 0;
    }

    ul li {
      display: inline-block;
      padding: 2.5px 25px;
      font-size: 1.25em;
    }

    a {
      text-decoration: none;
      color: #227729;
      cursor: pointer;
    }

    p {
      font-size: 1.5em;
      color: #333333;
      padding: 5px 10px;
      margin: 10px 50px;
    }
  </style>
</head>

<body>
  <ul>
    <li><a href="http://localhost:5000/">Home</a></li>
    <li><a href="database/add">Add an item</a></li>
    <li><a href="database/viewall">View all</a></li>
  </ul>

  <h2>Home</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt inventore velit, architecto libero similique assumenda distinctio ex quo laborum atque dignissimos at sit, accusamus saepe pariatur, corrupti tempora nobis aut! Temporibus dolore libero sunt odit modi quisquam voluptas praesentium! Optio suscipit facere temporibus voluptates autem quis eos, quos iure unde dolor reprehenderit impedit sapiente molestias? Nam quaerat commodi soluta? Dolores quidem distinctio tempore facilis et voluptate ut harum, nam quos commodi autem enim nemo vel velit nesciunt consectetur dolorum. Quo maxime, tempore illum libero quas ratione magnam modi esse rem, officiis laudantium ipsam illo a laboriosam inventore sed veritatis sit!</p>
  <br>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore esse veritatis eveniet tempora vel. Dolorum maiores nam ullam autem. Voluptatum omnis, cum quia distinctio commodi, fugiat ea illum, recusandae exercitationem autem nisi consequuntur! Expedita deleniti reprehenderit laboriosam, dolores illo exercitationem iure harum possimus fugiat quis dolorum fugit placeat cum maxime molestias alias nihil reiciendis dicta necessitatibus dignissimos repellat? Quas, enim.</p>
</body>

</html>